/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff0070;
  --main-color: var(--accent-color);
  --logo-color: #DB00FF;
  --logo-shadow: var(--accent-color);
  --text-color: #F1B2CE;
  --decor-color-text: var(--bg-color);
  --decor-color-bg: var(--main-color);
  --bg-color: #000028;
  --title-color: var(--accent-color);
  --bg-image: url(../images/cover-image-dark.png);
  --hover-color: rgba(255, 0, 112, 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --main-color: var(--accent-color);
    --logo-color: #DB00FF;
    --logo-shadow: var(--accent-color);
    --text-color: #F1B2CE;
    --decor-color-text: var(--bg-color);
    --decor-color-bg: var(--main-color);
    --bg-color: #000028;
    --title-color: var(--accent-color);
    --bg-image: url(../images/cover-image-dark.png);
    --hover-color: rgba(255, 0, 112, 0.4);
  }
}
