/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #353430;
  --main-color: #ff8dcb;
  --logo-color: #ffc2e6;
  --logo-shadow: #ff0070;
  --text-color: var(--accent-color);
  --decor-color-text: var(--accent-color);
  --decor-color-bg: var(--main-color);
  --bg-color: #fff1f7;
  --title-color: var(--accent-color);
  --bg-image: url(../images/cover-image-light.png);
  --hover-color: rgba(50, 49, 45, 0.4);

  .header__decor-element::before {
    display: none;
  }

  .header__decor-element::after {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #353430;
    --main-color: #ff8dcb;
    --logo-color: #ffc2e6;
    --logo-shadow: #ff0070;
    --text-color: var(--accent-color);
    --decor-color-text: var(--accent-color);
    --decor-color-bg: var(--main-color);
    --bg-color: #fff1f7;
    --title-color: var(--accent-color);
    --bg-image: url(../images/cover-image-light.png);
    --hover-color: rgba(50, 49, 45, 0.4);

     .header__decor-element::after {
      display: none;
    }

    .header__decor-element::before {
      display: none;
    }
    
  }
}
