/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --main-color: var(--accent-color);
  --logo-color: #DB00FF;
  --logo-shadow: var(--accent-color);
  --text-color: #F1B2CE;
  --decor-color-text: var(--bg-color);
  --decor-color-bg: var(--main-color);
  --bg-color: #000028;
  --title-color: var(--accent-color);
  --bg-image: url(../images/cover-image-dark.png);
  --hover-color: rgba(255, 0, 112, 0.4);
  --global-padding: 10px;
  --main-font: 'IBM Plex mono';
}
